@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #111;
    min-height: 100vh;
    overflow: hidden;
    color: white;
    position: relative;
}

body::after{
    position: absolute;
    content: 'MERRY CHRISTMAS';
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 70px;
    text-align: center;
    font-family: 'Mountains of Christmas', serif;
    font-weight: 700;
    text-shadow: 0 0 5px #fff, 0 10px 20px #fff, 20px 0 50px #fff;

}

.star{
    position: absolute;
    top: -20px;
    color: #fff;
    animation: animate 5s linear forwards;
}

.star::before{
    content: '\f005';
    font-family: fontAwesome;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 50px #fff;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}